// variables
// color
$navbar-color: #0d090f;
$navbar-hover: #39333b;
$color-1: #fafffd;
$color-2: #3282b8;
$color-3: #16213e;

// extends
// animation
%glow-icon {
  text-shadow: 0 0 3px #fff;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// slideanim
.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


/* scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #dbdbdb;
}

body::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #5c5c5c;
}

/* fonts */
.bebas {
  font-family: "Bebas Neue", cursive;
}

.lato {
  font-family: "Lato", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.patrick {
  font-family: "Patrick Hand", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.bold {
  font-weight: bold;
}

/* font awesome icons */
.fa-3x {
  color: $color-1;
  transition: 0.5s;
}

.fa-github:hover {
  color: #211f1f;
  @extend %glow-icon;
  @include transform(scale(1.2));
}
.fa-linkedin:hover {
  color: #1985bc;
  @extend %glow-icon;
  @include transform(scale(1.2));
}
.fa-instagram-square:hover {
  color: #dd2a7b;
  @extend %glow-icon;
  @include transform(scale(1.2));
}
.fa-envelope-square:hover {
  color: #d44638;
  @extend %glow-icon;
  @include transform(scale(1.2));
}

/* color */
.white {
  color: #fff;
}

.black {
  color: #0000;
}

.color-1 {
  color: #fafffd;
}

.color-2 {
  color: #0d090f;
}

/* main */
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* class */
//   navbar
.nav-wrapper {
  background-color: $navbar-color;
}

nav {
  ul {
    li:hover {
      background-color: $navbar-hover;
    }
  }
}

.active {
  background-color: $navbar-hover;
}

/* headline */
.headline {
  padding: 3vh 0 0 0;
}

.avatar {
  border-radius: 50%;
  max-width: 90%;
  margin: 0 auto;
}

//   my works
// .card-image {
// }

// footer
.page-footer {
  background-color: $color-3;
}

/* media query */
/* large screen */
@media (max-width: 1200px) {
}

/* small screen */
@media (max-width: 992px) {
  .avatar {
    max-width: 50%;
  }
}

/* tablet */
@media (max-width: 768px) {
}

/* phone */
@media (max-width: 576px) {
}
